/* Reset and Base Styles */
body, table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

#prayer-times {
  max-width: 100%;
  margin: 0 auto;
}

table {
  width: 100%;
  table-layout: fixed; /* Ensures columns are equal width */
}

thead {
  background-color: #0E1827;
  color: #FFFFFF;
}

thead th {
  padding: 8px;
  font-size: 16px;
  text-transform: uppercase;
}

tbody td {
  padding: 6px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Distinguish Adhan and Iqama Times */
tbody td:nth-child(2) { /* Adhan Times */
  color: #1E90FF; /* Blue color */
  font-weight: 500;
}

tbody td:nth-child(3) { /* Iqama Times */
  color: #32CD32; /* Green color */
  font-weight: 600;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  thead th, tbody td {
    font-size: 12px;
    padding: 4px;
  }
}


